# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/

# Virtualenv
*.venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# Images/datasets (optional)
images/

# Mac / Windows
.DS_Store
Thumbs.db
